@import "tailwindcss";

@theme {
  --color-dark: #152331;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #ffffff;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}